{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% include "snippets/style.html" %}
	{% include "film/snippets/style.html" %}
</head>
<body>
	<div class="header">
		<div class="logo">
			<h2><a href="{% url 'index' %}">film</a></h2>
		</div>
	</div>
	<div class="container">
		<div class="contents">
			{% block header %}
				
			{% endblock header %}
			
			{% block addPost %}
				
			{% endblock addPost %}

			{% block category %}
				
			{% endblock category %}
			
			{% block contents %}
				
			{% endblock contents %}
		</div>
	</div>
	<br>
	<div class="footer">
		<h2 class="logo">footer</h2>
		<div class="list">
			<ul>
				<li>Follow me!</li>
				<br>
				<li><a href="https://www.instagram.com/bac0ke" target="blank">Instagram</a></li>
				<li><a href="https://www.facebook.com/mr_bacoke" target="blank">Facebook</a></li>
			</ul>
			<p>copyright 2021 Bacoke Cinema Film | Bacoke Creator | <a href="{% url 'help' %}">Help</a></p>
		</div>
	</div>
</body>
</html>