{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% include "snippets/style.html" %}
	{% include "film/snippets/style.html" %}
</head>
<body>
	<div class="header">
		<div class="logo">
			<h2><a href="{% url 'index' %}">film</a></h2>
		</div>
		<div class="nav">
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'film:index' %}">Film</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="contents">
			{% block contents %}
				
			{% endblock contents %}
		</div>
	</div>
</body>
</html>