{% extends "base.html" %}

{% block category %}
	<div class="category">
		<h4>Menampilkan data berdasarkan kategori</h4>
	</div>
{% endblock category %}

{% block contents %}
	<ul>
		<li>
			<a href="{% url 'film:index' %}"><b>All Post</b></a>
		</li>
		{% for data_category in categorys %}
			<li>
				<a href="{% url 'film:category' categoryInput=data_category.category %}">{{data_category.category}}</a>
			</li>
		{% endfor %}
	</ul>
	<br>
	{% for post in posts %}
		<a href="{% url 'film:detail' slugInput=post.slug %}"><h3>{{post.headline}}</h3></a>
		<h4>{{post.publish}}</h4>
		<h5><b>Category : </b>{{post.category}}</h5>
		<p>{{post.body | truncatechars:150}}</p>
		<br>
		<div class="add_comment">
			<h4><a href="#">Tambah Komentar</a></h4>
		</div>
	{% endfor %}
{% endblock contents %}