{% extends "base.html" %}

{% block category %}
	<div class="category">
		<h4>Menampilkan data berdasarkan kategori</h4>
	</div>
{% endblock category %}

{% block contents %}
	<ul>
		<li>
			<a href="{% url 'film:index' %}"><b>All Post</b></a>
		</li>
		{% for data_category in categorys %}
			<li>
				<a href="{% url 'film:category' categoryInput=data_category.category %}">{{data_category.category}}</a>
			</li>
		{% endfor %}
	</ul>
	<br>
	<h3>{{posts.headline}}</h3>
	<h4>{{posts.publish}}</h4>
	<h5><b>Category : </b>{{posts.category}}</h5>
	<p>{{posts.body}}</p>
	<br>
	<div class="add_comment">
		<h4><a href="#">Tambah Komentar</a></h4>
	</div>
{% endblock contents %}